.table-1 {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  border: 22px solid rgba(58, 73, 101, 1);
  text-align: center;
  text-transform: uppercase;
}
tr,
td,
th {
  border-collapse: collapse;
  border: 1px solid #d7d3d3;
  vertical-align: middle;

  color: #484848;
}

.price-item {
  box-sizing: border-box;
  padding: 12px 33px 10px 33px;
  width: 280px;
  height: 89px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 0;
}
.price-number {
  font-weight: 700;
  font-size: 60px;
}
.price-cent {
  font-weight: 700;
  font-size: 24px;
}
.th-item1 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.th-item1::first-line {
  font-weight: 700;
  font-size: 18px;
}
.th-item2 {
  background: #89c331;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.th-item3 {
  background: #f04a56;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.th-item4 {
  background: #20807c;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.tr-3 {
  background: #f2f2f2;
}
.tr-2 {
  background: #e3e3e3;
}
tr:nth-child(2n + 4) {
  background: #e3e3e3;
}

tr:nth-child(2n + 3) {
  background: #f2f2f2;
}
img {
  padding-right: 4px;
}
.btn-1 {
  padding: 20px 45px 8px 46px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  background: #484848;
  border-radius: 4px;
  border-bottom: 9px solid #404040;
  cursor: pointer;
}
.contact-btn {
  background: #dddddd;
}
.btn-2 {
  padding: 17px 57px 9px 57px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  background: #89c331;
  border-radius: 4px;
  cursor: pointer;

  border-bottom: 9px solid #79b027;
}
.btn-3 {
  padding: 17px 57px 7px 57px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  background: #f04a56;
  border-radius: 4px;
  cursor: pointer;
  border-bottom: 9px solid #df3a46;
}
.btn-4 {
  padding: 17px 57px 10px 57px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  background: #20807c;
  border-radius: 4px;
  cursor: pointer;
  border-bottom: 9px solid #16736f;
}
.bgcol-but_2 {
  background: #eeeeee;
}
.bgcol-but_3 {
  background: #f4f4f4;
}
.bgcol-but_4 {
  background: #eeeeee;
}
/* Css styles for Table-2 */
.table-2 {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  border-top: 28px solid rgba(58, 73, 101, 1);
  border-right: 27px solid rgba(58, 73, 101, 1);
  border-bottom: 21px solid rgba(58, 73, 101, 1);
  border-left: 27px solid rgba(58, 73, 101, 1);
  text-align: center;
  text-transform: uppercase;
}
.img-table2 {
  display: flex;
  margin: 0 auto;
  padding-bottom: 5px;
}
.options {
  font-weight: 700;
  font-size: 20px;
  color: #484848;
  width: 198px;
  background: #fafafa;
  width: 201px;
}
.options::first-line {
  font-weight: 700;
  font-size: 14px;
  color: #484848;
}
.standart-option td:nth-child(2n + 2),
.ulitimate-option td:nth-child(2n + 2),
.premium-option td:nth-child(2n + 2) {
  background: #e3e3e3;
  width: 160px;
  height: 169px;
}
.standart-option td:nth-child(2n + 3),
.ulitimate-option td:nth-child(2n + 3),
.premium-option td:nth-child(2n + 3) {
  background: #f2f2f2;
  width: 160px;
  height: 169px;
}
.choose-options {
  height: 115px;
  width: 160px;
  border-bottom: 14px solid #3a4965;
  box-sizing: border-box;
}
.choose-options th:nth-child(2n + 2) {
  background: #e3e3e3;
}
.choose-options th:nth-child(2n + 3) {
  background: #f2f2f2;
}

.button_table2 {
  border: none;
  border-bottom: 8px solid rgba(52, 52, 52, 1);
  border-radius: 4px;
  padding: 12px 25px 0px 25px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(65, 65, 65, 1);
  margin-top: 21px;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.price-standart_table2 {
  background: #89c331;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-top: 23px;
}
.price-ulitimate_table2 {
  background: #f04a56;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-top: 23px;
}
.price-premium_table2 {
  background: #20807c;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-top: 23px;
}

.standart-option {
  background: #89c331;
}
.name-option {
  font-weight: 700;
  font-size: 24px;
  margin-top: 23px;
}
.standard-price {
  display: inline;
  font-weight: 700;
  font-size: 36px;
}
.standard-price_permonth {
  display: inline;
  font-weight: 700;
  font-size: 14px;
}
